/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* Set every element's box-sizing to border-box */
* {
  box-sizing: border-box;
}
html,
body {
  height: 100%;
}
@font-face {
  font-family: 'Comfortaa';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/comfortaa/v27/1Pt_g8LJRfWJmhDAuUsSQamb1W0lwk4S4WjMDrMfJQ.ttf) format('truetype');
}
@font-face {
  font-family: 'Righteous';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Righteous'), local('Righteous-Regular'), url(https://fonts.gstatic.com/s/righteous/v8/1cXxaUPXBpj2rGoU7C9WiHGA.ttf) format('truetype');
}
body {
  font-family: "Comfortaa", cursive;
  max-width: 100%;
  font-size: 62.5%;
  box-sizing: border-box;
}
button {
  font-family: "Comfortaa", cursive;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Righteous", cursive;
}
#navsec {
  position: fixed;
  z-index: 99;
  width: 100%;
  top: 0;
  padding: 1%;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: rgba(0, 0, 0, 0.8);
}
#navsec a {
  color: white;
  text-decoration: none;
}
#navsec .subNav {
  position: fixed;
  z-index: 98;
  top: 9.5%;
  left: 71%;
  background: rgba(0, 0, 0, 0.8);
  font-size: 0.9rem;
  text-transform: uppercase;
  width: 15%;
  text-align: center;
  opacity: 0;
}
#navsec .subNav ul li {
  padding: 5%;
  border-top: solid 1px white;
}
#navsec h1 {
  font-size: 2.5rem;
}
#navsec h1 a:hover {
  color: grey;
}
#navsec nav {
  width: 50%;
}
#navsec nav ul {
  color: white;
  display: flex;
  justify-content: space-evenly;
}
#navsec nav ul a {
  color: white;
  text-decoration: none;
  text-transform: uppercase;
}
#navsec nav ul a {
  font-size: 1rem;
}
#navsec nav ul a:hover {
  color: #1089ff;
}
.headersec {
  background: #edf7fa;
  padding: 4% 2.5%;
  margin: 8% auto 0;
  width: 80%;
  height: 80vh;
  border-radius: 10px;
  font-size: 1.5rem;
}
.headersec .imgcrop {
  height: 22vh;
  overflow: hidden;
  margin: 0 0 1.5%;
  width: 43%;
}
.headersec .imgcrop img {
  width: 100%;
}
.headersec h1 {
  font-size: 4rem;
  margin: 0 0 1%;
}
.headersec h2 {
  font-family: "Comfortaa", cursive;
  font-size: 2.5rem;
}
.headersec hr {
  margin: 2% 0;
  border: none;
  border-bottom: 1px solid grey;
  width: 42%;
  opacity: 0.4;
}
.headersec p {
  font-size: 1.3rem;
  line-height: 2rem;
  margin: 0 0 3%;
}
.headersec a {
  text-decoration: none;
  background: black;
  width: 40%;
  font-size: 1.3rem;
  padding: 1% 3%;
  border-radius: 10px;
  color: white;
}
.headersec a:hover {
  background: grey;
}
.aboutMeSec {
  width: 85%;
  margin: 0 auto;
  padding: 2% 3%;
  display: flex;
  justify-content: space-between;
  font-size: 1.6rem;
  line-height: 2.1rem;
}
.aboutMeSec .aboutMeText {
  width: 48%;
}
.aboutMeSec .aboutMeText h3 {
  font-size: 2.3rem;
  margin: 0 0 3%;
}
.aboutMeSec .aboutMeSkills {
  width: 48%;
}
.aboutMeSec .aboutMeSkills h3 {
  font-size: 2.3rem;
  margin: 0 0 3%;
}
.aboutMeSec .aboutMeSkills ul li {
  border: 1px solid grey;
  padding: 2.5%;
}
.aboutMeSec .aboutMeSkills ul li:hover {
  color: #1089ff;
}
.lastSec {
  width: 85%;
  margin: 0 auto;
  padding: 2% 3%;
  font-size: 1rem;
}
.lastSec .workExp h3 {
  font-size: 2.3rem;
}
.lastSec .workExp h4 {
  font-size: 1.7rem;
}
.lastSec .edu h3 {
  font-size: 2.3rem;
}
.lastSec .edu h4 {
  font-size: 1.7rem;
}
.lastSec .edu .eduTitles ul {
  display: flex;
  align-items: center;
  padding: 1.5% 0;
  border-bottom: solid 1px grey;
  text-align: center;
}
.lastSec .edu .eduTitles ul li {
  text-align: center;
  margin: 0 4%;
  width: 100%;
  line-height: 1.3rem;
}
.lastSec .edu .eduYrs {
  background: #bdbdbd;
}
.lastSec .edu .eduYrs ul {
  display: flex;
  align-items: center;
  padding: 1.5% 0;
  border-bottom: solid 1px grey;
  text-align: center;
}
.lastSec .edu .eduYrs ul li {
  text-align: center;
  margin: 0 4%;
  width: 100%;
  line-height: 1.3rem;
}
.lastSec .edu .eduSch ul {
  display: flex;
  align-items: center;
  padding: 1.5% 0;
  border-bottom: solid 1px grey;
  text-align: center;
}
.lastSec .edu .eduSch ul li {
  text-align: center;
  margin: 0 4%;
  width: 100%;
  line-height: 1.3rem;
}
.lastSec .edu .eduFocus {
  background: #bdbdbd;
}
.lastSec .edu .eduFocus ul {
  display: flex;
  align-items: center;
  padding: 1.5% 0;
  border-bottom: solid 1px grey;
  text-align: center;
}
.lastSec .edu .eduFocus ul li {
  text-align: center;
  margin: 0 4%;
  width: 100%;
  line-height: 1.3rem;
}
.lastSec .edu .eduLoc ul {
  display: flex;
  align-items: center;
  padding: 1.5% 0;
  border-bottom: solid 1px grey;
  text-align: center;
}
.lastSec .edu .eduLoc ul li {
  text-align: center;
  margin: 0 4%;
  width: 100%;
  line-height: 1.3rem;
}
