// Is this working?
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

// MY CODE HERE
@import url('https://fonts.googleapis.com/css?family=Comfortaa|Righteous&display=swap');

// General Styles
body {
	font-family: @bodyFont;
	max-width: 100%;
	font-size: 62.5%;
}

h1, h2, h3, h4, h5, h6 {
	font-family: @headingFont;
}

// variables
@bgColour: black;
@bodyFont: 'Comfortaa', cursive;
@headingFont: 'Righteous', cursive;
@hoverColour: #1089ff;
// end variables 

// mixins 
.flexNav(){
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.flexUl(){
	display: flex;
	justify-content: space-evenly;
}

.navStyles(){
	color: white;
	a {
		color: white;
		text-decoration: none;
		text-transform: uppercase;
	}
}

.logoStyle(){
	color: white;
		a {
			color: white;
			text-decoration: none;
		}
}
// end mixins 

#navsec {
	padding: 1%;
	.logoStyle();
	.flexNav();
	background: @bgColour;

	h1 {
		font-size: 2.5rem;
		a{
			&:hover {
				color: grey;
			}
		}
	} // end #navsec h1

	nav {
		width: 50%;
		ul {
			.navStyles();
			.flexUl();
			a {
				font-size: 1rem;
				&:hover {
					color: @hoverColour;
				} // end #navsec nav ul a:hover
			} // end #navsec nav ul a
		} // end #navsec nav ul
	} // end #navsec nav
} // end #navsec
